main{
    display: flex;
    flex-direction: column;
}

.top-main{
    width: 100%;
    display: flex;
}

.filters{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    border-bottom: 2px solid black;
    margin-right: 5%;
}

.basket-header{
    width: 30%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.main{
    width: 100%;
    display: flex;
}

.shop{
    width: 65vw;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.basket{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.products{
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 5%;
}

.productCard{
    width: 28%;
    margin: 2%;
    margin-bottom: 5rem;
}

